h1:not(.error-message h1),
h2,
h3,
h4 {
    color: rgb(44, 80, 45);
}

p:not(blockquote p):not(.error-message p),
li,
th,
td,
h5,
h6 {
    color: rgb(44, 80, 45);
}

blockquote {
    background-color: rgb(239, 239, 239);
    border-left: 5px solid rgb(112, 198, 119);
}

code {
    background-color: rgb(239, 239, 239);
    border-left: 5px solid rgb(112, 198, 119);
}

button {
    background-color: rgb(44, 80, 45);
    color: white;
}

button:hover {
    background-color: rgb(34, 70, 35);
}