h1, h2, h3, h4 {
    padding-left: 30px;
}
p:not(blockquote p), h5, h6 {
    padding-left: 40px;
}
blockquote {
    padding: 10px;
    border-radius: 10px;
}
code {
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    white-space: pre-wrap;
    overflow: auto;
    width: calc(100% - 100px);
    margin-left: 40px; /* 使用 margin-left 替代 position 和 left */
}
/* body {
    backdrop-filter: blur(20px);
} */

#markdownContent {
    backdrop-filter: blur(60px);   
    border-radius: 30px;
}