body {
    font-family: Arial, sans-serif;
    background-color: #ffc6c6;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    overflow: auto;
    background-color: #ee9c9c;
    padding: 20px;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.sidebar h2 {
    margin-top: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #573939;
}